@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Quicksand:wght@300..700&display=swap');

@import url("../fonts/transfonter.org-20250509-031007/stylesheet.css");

@import url("all.min.css");
body
{
	background: #FFFFFF;
	color: #000032;
	font-family: "Quicksand", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	margin: 0px;
}

h1,h2
{
	font-family: "Quicksand", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #3216BD;
}

.font-subtitle
{
   font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
	font-size: 30px;
}

h1
{
	font-size: 40px;
	background: tomato;
	background: linear-gradient(tomato,yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h2
{
	font-size: 36px;
}
h3{font-size: 24px}
h4{font-size: 20px}
h5{font-size: 18px;
   color: #5C5C5C;
}
h6{
	font-size: 16px;
	color: brown;
}

h1,h2,h3,h4{margin-bottom: 0; margin-top: 0;}

/*--------------layout bố cục web------------*/
.container-fluid
{
	width: 100%; padding-left: 100px; padding-right: 100px;
	
}
/*-------mobile first---------;*/
.container
	{
	width: 95%; margin: auto;
	}
/*---------size container for tablet--------*/
@media (min-width: 600px)
{
	.container
	{
	width: 90%; margin: auto;
	}
}

/*---------size container for pc--------*/
@media (min-width: 1000px)
{
	.container
	{
	width:80%; margin: auto;
	}
}

/*hệ thống lưới 12 cột*/
.col-1 {width: 8.3333%}
.col-2 {width: 16.6666%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

[class*="col-"]
{
	padding: 15px;
	border: 1px solid blue;
}
*{box-sizing: border-box}

.img-100 {width: 100%}

.row 
{
	display: flex;
	flex-wrap: wrap;
}

.card
{
	background: #EFEFEF;
	border-radius: 10px; /*bo góc*/
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height: 500px;
}

footer
{
	width: 100%;
	height: 500px;
	background: #E4E4E4;
}

a
{
	text-decoration: none;
	color: #000000;
}
a:hover /*mouse click*/
{
	color: #FF9F26;
}

/*style hệ thống màu chữ cho web*/

.text-primary {color: darkblue} /*màu chữ chính*/
.text-secondary {color: #DD0003} /*màu chữ phụ*/
.text-light {color: #D9D9D9}
.text-dark {color: #353535}

/*style hệ thống màu nền*/

.bg-primary {background-color:#000957}
.bg-secondary {background-color: #FFD70B}
.bg-light {background-color: #D8D8D8}
.bg-dark {background-color: #2B2B2B}

/*style hệ thống màu cho button*/

.btn-primary 
{
	background-color:#FF1414;
	color:#FFFFFF;
	padding: 8px 16px;
	border-radius: 4px;
}
.btn-primary:hover
{
	background-color: #FFE70B;
	color: #000000;
}

.btn-secondary
{
	background-color: brown;
	color: #FFFFFF;
	padding: 8px 16px;
	border-radius: 4px;
}
.btn-secondary:hover
{
	background-color: aliceblue;
	color: #000000;
}

.btn-outline-primary
{
	border: 1px #0301D8 solid;
	color:#000287;
	padding: 8px 16px;
	border-radius: 4px;
}
.btn-outline-primary:hover
{
	background-color: aliceblue;
	color: #000000;
}

/*style cho menu căn bản chỉ dùng được cho pc*/
ul.menu
{
	display: flex;
	padding: 0;
	list-style: none;
	justify-content:flex-start;
}
ul.menu li a
{
	padding: 8px 16px;
	/*border: #FFE608 double;*/
	margin: 3px;
	/*border-radius: 10px 10px 0px 0px;*/
	display: block;
}

ul.menu li a:hover
{
	background-color: brown;
/*	border: none;*/
	color: #FFBD19;
	display: block;
}

ul.menu li
{
	position: relative;
}

ul.menu .dropdown-menu
{
	width: 200px;
	position: absolute;
	left:0;
	top: 150;
	z-index: 999;
	background: #FFFFFF;
	color: #FFBD19;
	opacity: 0;
}

ul.menu .dropdown-menu a
{
	display: block;
}

ul.menu li:hover >.dropdown-menu
{
	left: 0;
	top: 85%;
	opacity: 1;
}

.banner
{
	position: relative;
}
.banner-caption
{
	position: absolute;
	padding: 20px; width: 40%;
	right: 10%; top: 20%;
}



